{% extends 'base.html' %}

{%block conteudo%}
<h1 class="mt-5">Contatos</h1>

<!--Table-->
<section id="table-overflow">
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Celular</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>

            {% for contato in contatos %}
            <!-- {% if contato.mostrar %} não precisa mais por causa do filter-->
            <tr>
                <td>{{ contato.id }}</td>
                <td>
                    <a href="{% url 'ver_contato' contato.id %}">{{ contato.nome }}</a>
                </td>
                <td>{{ contato.sobrenome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.categoria }}</td>
            </tr>
            <!-- {% endif %} -->
            {% endfor %}

        </tbody>
    </table>
</section>


<!--PAGINATION-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <!--contatos = paginator.get_page(page)-->
        <!--pra cada pagina nas paginas totais cria-->
        {% for pagina in contatos.paginator.page_range %}
        <!-- contatos.numer = numero atual da pagina-->
        {% if contatos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{%endblock%}