{% extends 'base.html' %}

{%block titulo%}{{contato.nome}} {{ contato.sobrenome }} | {%endblock%}

{%block conteudo%}
<!-- Page Content -->
<div class="card text-center my-3 d-block mx-auto" style="width: 18rem;">
    {% if contato.foto %}
    <img src="{{ contato.foto.url }}" class="card-img-top" alt="foto de perfil">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            {{ contato.nome }} {{ contato.sobrenome }}
        </h5>
        <p class="card-text">
            {{ contato.descricao }}
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{ contato.categoria }}
        </li>
        <li class="list-group-item">
            {{ contato.email }}
        </li>
    </ul>
    <div class="card-body">
        <a id="wpp" target="_blank" href="https://api.whatsapp.com/send?phone=15551234567">
            <i class="fab fa-whatsapp"></i>
            {{ contato.telefone }}
        </a>
    </div>
    <ul class="list-group list-group-flush">
        <div class="column d-flex">
            <small class="list-group-item w-100 d-flex align-items-center justify-content-center">
                {{ contato.id }}
            </small>
            <small class="list-group-item w-100">
                {{ contato.data_criacao|date:'d/m/Y H:i:s' }}
            </small>
        </div>
    </ul>
</div>
</div>
<!-- // Page Content -->

{%endblock%}